<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wishes Registration</title>
    <style>
      .main{
        width: 700px;
        height: 600px;
      }
      .box1{
        width: 300px;
        height: 400px;
        border: 1px solid black;
        display: inline-block;
        padding: 5px;
      }
      .box2{
        width: 300px;
        height: 200px;
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
      }
      .box3{
        width: 300px;
        height: 200px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div class="box1">
        <h2>Registration</h2>
        <form action="register" method="POST">
          {% csrf_token %}
          <p>Name: <input type="text" name="name"></p>
          <p>Username: <input type="text" name="username"></p>
          <p>Email: <input type="text" name="email"></p>
          <p>Password: <input type="password" name="pass1"></p>
          <p>Confirm pw: <input type="password" name="pass2"></p>
          <p>Start Date: <input type="date" name="startdate"></p>
          <p><input type="submit" value="Register"></p>
        </form>
      </div>
      <div class="box2">
        <h2>Login</h2>
        <form action="login" method="POST">
          {% csrf_token %}
          <p>Username: <input type="text" name="lusername"></p>
          <p>Password: <input type="password" name="lpassword"></p>
          <p><input type="submit" value="Login"></p>
        </form>
      </div>
      <div class="box3">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </body>
</html>
